[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "==0.24.2"
tensorflow = "*"
pip = "*"
librosa = "*"
opencv-python = "*"
tflearn = "*"
future = "*"
pydub = "*"
parameter-sherpa = "*"

[requires]
python_version = "3"
